In [40]:
import pandas as pd

df1 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='전국')
df2 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='고양')
df3 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='부천')
df4 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='성남')
df5 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='수원')
df6 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='안양')
df7 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='양주')
df8 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='인천 서구')
df9 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='충남 천안')
df10 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='파주')
df11 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='평택')
df12 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='화성')
df13 = pd.read_excel('/Users/home/Documents/전체 교통사고 정리.xlsx',sheet_name='용인')

gf1 = pd.read_excel('/Users/home/Desktop/경기도 공공데이터 경진대회/버스정류소현황 (1).xlsx')
gf2 = pd.read_excel('/Users/home/Desktop/경기도 공공데이터 경진대회/경기주택도시공사_도시개발 현황_20220303 (1).xlsx')

In [42]:
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()
df5 = df5.dropna()
df6 = df6.dropna()
df7 = df7.dropna()
df8 = df8.dropna()
df9 = df9.dropna()
df10 = df10.dropna()
df11 = df11.dropna()
df12 = df12.dropna()
df13 = df13.dropna()

In [43]:
df2_1 = df2.loc[1:8]
df2_2 = df2.loc[10:21]

df3_1 = df3.loc[1:8]
df3_2 = df3.loc[10:21]

df4_1 = df4.loc[1:8]
df4_2 = df4.loc[10:21]

df5_1 = df5.loc[1:8]
df5_2 = df5.loc[10:21]

df6_1 = df6.loc[1:8]
df6_2 = df6.loc[10:21]

df7_1 = df7.loc[1:8]
df7_2 = df7.loc[10:21]

df8_1 = df8.loc[1:8]
df8_2 = df8.loc[10:21]

df9_1 = df9.loc[1:8]
df9_2 = df9.loc[10:21]

df10_1 = df10.loc[1:8]
df10_2 = df10.loc[10:21]

df11_1 = df11.loc[1:8]
df11_2 = df11.loc[10:21]

df12_1 = df12.loc[1:8]
df12_2 = df12.loc[10:21]

df13_1 = df13.loc[1:8]
df13_2 = df13.loc[10:21]

In [44]:
df13_1

  \n    (건)  사고건수(용인)  (명)  사망자수(용인)  (명).1  부상자수(용인)
1  일  313.0       9.6  6.0      17.1  574.0      11.3
2  월  507.0      15.5  8.0      22.9  739.0      14.6
3  화  476.0      14.6  3.0       8.6  711.0      14.0
4  수  460.0      14.1  3.0       8.6  716.0      14.1
5  목  498.0      15.3  4.0      11.4  752.0      14.8
6  금  518.0      15.9  8.0      22.9  759.0      15.0
7  토  490.0      15.0  3.0       8.6  815.0      16.1

In [45]:
gf1

,시군명,정류소명,정류소영문명,정류소id,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도
0,가평군,3반상회앞,3-ban Market,239000307,44655,노변정류장,경기도 가평군,경기도 가평군 가평읍,37.811250,127.521467
1,가평군,가는골,Ganeungol,239000874,44847,노변정류장,경기도 가평군,경기도 가평군 북면,37.967533,127.418617
2,가평군,가는골,Ganeungol,239000875,44848,노변정류장,경기도 가평군,경기도 가평군 북면,37.967450,127.418650
3,가평군,가둘기,Gadulgi,239000061,44280,노변정류장,경기도 가평군,경기도 가평군 북면,37.900067,127.511583
4,가평군,가둘기(목동방면),Gadulgi,239000459,44354,노변정류장,경기도 가평군,경기도 가평군 북면,37.900033,127.511700
...,...,...,...,...,...,...,...,...,...,...
34580,화성시,흥법리마을회관,Heungbeop-ri Community Center,233002602,NaN,노변정류장,경기도 화성시,NaN,37.164950,126.734033
34581,화성시,흥법리모래지,Heungbeop-ri Moraeji,233002916,NaN,노변정류장,경기도 화성시,NaN,37.166583,126.740150
34582,화성시,흥법리모래지,Heungbeop-ri Moraeji,233002603,NaN,노변정류장,경기도 화성시,NaN,37.166583,126.739967
34583,화성시,흥법사입구,Heungbeopsa,233000574,36217,노변정류장,경기도 화성시,경기도 화성시 봉담읍,37.200050,126.980350
34584,화성시,힐스테이트.호반5차,NaN,233001620,55490,NaN,NaN,NaN,37.184783,127.122967

In [46]:
sin_name = ['성남시','고양시','군포시','안양시','화성시','김포시','파주시','수원시','용인시','양주시','평택시']

In [53]:
for i in sin_name:
    if i not in gf1['시군명']:
        gf1 = gf1.drop(gf1[gf1['시군명']==f'{i}'].index)
        
gf1 = gf1[['시군명','WGS84위도','WGS84경도']]
gf1

       시군명    WGS84위도     WGS84경도
0      가평군  37.811250  127.521467
1      가평군  37.967533  127.418617
2      가평군  37.967450  127.418650
3      가평군  37.900067  127.511583
4      가평군  37.900033  127.511700
...    ...        ...         ...
31948  하남시  37.539750  127.171133
31949  하남시  37.539833  127.171383
31950  하남시  37.510583  127.147467
31951  하남시  37.510633  127.147450
31952  하남시  37.512417  127.142083

[16775 rows x 3 columns]